html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39997303-1', 'af.cm');
      ga('send', 'pageview');
 




- var array=data
- var author={}
- for(var j=0;j<length;j++){
  - author[j]=array[j].AuthorsText[0]
- }

title Search Results for #{title}
h2#search_top_text Search Results for #{title}

- var i=0
div#img_pad
  - for(i=0;i<length;i++){
    - var isbn=array[i].$.isbn
    div#ind_img
      a(href="/detail/#{isbn}")
        img(id="result_img_book",src="http://books.google.co.in/books?vid=ISBN#{isbn}&printsec=frontcover&img=1&zoom=5")
      a(id="title_tag",href="/detail/#{isbn}") #{array[i].Title}
      if(author[i]=="[object Object]")
        p
      else
        p#author_text #{author[i]}
    br
    br
    br
  - }


 div#footer
  p Created By 
    a(target="_blank",href="http://tarun29061990.com") Tarun Chaudhary
    span (tarun29061990@gmail.com)

